.contentStyle {
  height: 400px;
  color: #fff;
  line-height: 400px;
  text-align: center;
  display: flex;
  
  background: #364d79;
}

.layout {
  height: 200px;
}

.imgStyle {
  height: 400px;
  /* width: 100%; */
}
