.contentStyle {
  height: 400px;
  color: #fff;
  line-height: 400px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgStyle {
  height: 400px;
  /* width: 100%; */
}
.layout {
  text-align: center;
  width: 100%;
}
