.layout {
  display: flex;
  height: 400px;
  width: 100%;
}
.allLayout {
  display: flex;
  width: 100%;
}
.allImage {
  width: 100%;
}

.allTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 100px;
  /* bottom: 0; */
  background-color: #fff;
  width: 400px;
  height: 150px;
  font-size: 20px;
  font-weight: 500;
}
