.allLayout {
  display: flex;
  width: 100%;
}

.allImage {
  width: 100%;
}

.allTitle {
  background-color: #fff;
  width: 300px;
  height: 200px;
  font-size: 20px;
  font-weight: 500;
}
